extends ../layout/super

block styles 
   meta(name="csrf-token" content=csrfToken)
   style.
        body::before {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, #46b8a9, #FFFFFF);
            background-size: cover;
            z-index: -1;
        }
        .form-container {
            background-color: rgba(255, 255, 255, 0.5); /* Fondo blanco con opacidad */
            border-radius: 0.8rem; /* Bordes redondeados */
        }
        .form-title {
            background-color: rgba(148, 193, 35); /* Fondo con opacidad */
            border-radius: 0.8rem; /* Bordes redondeados */
            padding: 0.5rem 1rem; /* Ajusta el relleno según sea necesario */
            margin: 0.5rem 0; /* Ajusta el margen según sea necesario */
        }

block contenido
     div.py-10 
         h1.text-4xl.my-10.font-extrabold.text-white.form-title.form-title.text-center  Fundación México Sin Sordera A.C
            span.font-normal
         br
         h2.text-center.text-2xl.font-extrabold.text-black Personas Asociadas a la Fundación
         br
         //- pre= JSON.stringify(usuario, undefined, 2)
         if usuario.length
            div
                div.max-w-7xl.mx-auto.shadow-lg.rounded-lg.overflow-hidden
                    ul.divide-y.divide-gray-300
                        each usuarios in usuario
                            li
                                div(class="form-container p-6 flex flex-col sm:flex-row sm:items-center sm:justify-between space-y-4 sm:space-y-0 shadow-lg gap-4 rounded-lg mb-4 ")
                                    div(class="flex-grow space-y-2")
                                        a(class="block text-2xl font-extrabold text- hover:underline" href=`/usuarios/${usuarios.id}`)= 'Trabajador: ' + usuarios.nombre
                                        div
                                          h2='Correo Electrónico de la Persona Asociada: '
                                          h2= ''+usuarios.email
                                    div(class="flex space-x-2")
                                        form(method="POST" action=`/usuarios/eliminar/${usuarios.id}`)
                                            input(type="hidden" name="_csrf" value=csrfToken)
                                        a(href=`/admin/editarAsociado/${usuarios.id}` class="text-center px-4 py-2 text-xs font-semibold rounded bg-azul-tur text-white hover:bg-indigo-200") Editar
                                        input(type="submit" class='text-center px-4 py-2 text-xs font-semibold rounded bg-red-500 text-white hover:bg-red-200 cursor-pointer' value="Eliminar")