extends ../layout/admin

block styles
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css")
    style.
        body::before {
            content: '';
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, #46b8a9, #FFFFFF);
            background-size: cover;
            z-index: -1; 
        }
        .form-container {
            background-color: rgba(255, 255, 255, 0.5); /* Fondo blanco con opacidad */
            border-radius: 0.8rem; /* Bordes redondeados */
        }
block contenido
    
     div.py-10 
         h1.text-4xl.my-10.font-extrabold.text-center REGISTRO DE PACIENTE
            

         if errores 
            div(class="max-w-md mx-auto my-10")
                each error in errores 
                   p.bg-red-600.text-white.uppercase.text-xs.text-center.p-2.mb-1.font-bold= error.msg

        
         div(class="flex.flex-col.md.flex-row.items-center.justify-center")
              form.form-container.py-8.px-4.shadow-lg(method="POST" action="/pacientes/crear")
                input(type="hidden" name="_csrf" value = csrfToken)
                div.space-y-5
                    h3.text-lg.leading-6.font-medium.text-gray-900 INFORMACIÓN DEL PACIENTE
                    p.text-gray-600 Añade Información Sobre El Paciente
                   
                    div
                         label.block.text-sm.uppercase.text-black.mb-2.fond-bold(for="nombre") Nombre del paciente
                         input#nombre.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Nombre del paciente" type="text" name="nombre" value= datos ? datos.nombre : '' )        
                    
                      
                   
                    div(class="md:flex md:gap-4 space-y-5 md:space-y-0")

                        div(class="md:w-1/2")
                            label.block.text-sm.uppercase.text-black.mb-2.fond-bold(for="sexo") Sexo
                            select#sexo.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(name="sexo")
                                each optionSex in ['Seleccione sexo del paciente','Masculino', 'Femenino','No binario']
                                      option(value=optionSex selected=datos && datos.sexo === optionSex)=optionSex

                        div(class="md:w-1/2")
                            label.block.text-sm.uppercase.text-black.mb-2.fond-bold(for="seguridadsocialid") ¿Cuenta con Seguridad social?
                            select#seguridadsocialid.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(name="seguridadsocialid")
                                option(value="") Seleccione seguridad social   
                                each seguridadsociales in seguridadsocialid
                                    option(value=seguridadsociales.id selected= datos ? datos.seguridadsocialid == seguridadsociales.id ? true:false:null)=seguridadsociales.nombre
                                     
                    div(class="md:flex md:gap-4 space-y-5 md:space-y-5")

                        div(class="md:w-1/3")
                            label.block.text-sm.uppercase.text-black.mb-2.fond-bold(for="segdgasmdcs") ¿Cuenta con seguro de Gastos Médicos?
                            select#segdgasmdcs.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(name="segdgasmdcs")
                                 each optionValue in ['Seleccione','Si', 'No']
                                      option(value=optionValue selected=datos && datos.segdgasmdcs === optionValue)=optionValue

                        div(class="md:w-1/3")
                            label.block.text-sm.uppercase.text-black.mb-2.fond-bold(for="companysegurosid") Compañia de Seguros 
                            select#companysegurosid.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(name="companysegurosid")
                                option(value="") Seleccione
                                each companyseguro in companysegurosid 
                                    option(value=companyseguro.id selected= datos ? datos.companysegurosid == companyseguro.id ? true:false:null)= companyseguro.nombre  

                        div(class="md:w-1/3")
                            label.block.text-sm.uppercase.text-black.mb-2.fond-bold(for="titularseguridadsocialid") Titular de Seguridad Social
                            select#titularseguridadsocialid.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(name="titularseguridadsocialid")
                                option(value="") Seleccione 
                                each titularseguritysocial in titularseguridadsocialid
                                    option(value=titularseguritysocial.id  selected= datos ? datos.titularseguridadsocialid == titularseguritysocial.id ? true:false:null)= titularseguritysocial.nombre   
                    
                    div(class="md:flex md:gap-4 space-y-5 md:space-y-0")

                        div(class="md:w-1/3")
                            label.block.text-sm.uppercase.text-black.mb-2.fond-bold(for="numpaciente") Número Telefónico del paciente
                            input#numpaciente.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Numero telefonico" type="number" name="numpaciente" value= datos ? datos.numpaciente : '')
                               

                        div(class="md:w-1/3")
                            label.block.text-sm.uppercase.text-black.mb-2.fond-bold(for="correo") Correo Electrónico
                            input#correo.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Correo" type="email" name="correo" value= datos ? datos.correo : '' )
                             
                        div(class="md:w-1/3")
                            label.block.text-sm.uppercase.text-black.mb-2.fond-bold(for="telrecados") Teléfono para recados 
                            input#telrecados.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Telefono para recados" type="number" name="telrecados" value= datos ? datos.telrecados : '')
                    div(class="md:w-1/2")
                            label.block.text-sm.uppercase.text-black.mb-2.fond-bold(for="campaignid") Seleccione la campaña en que se conoce al Paciente 
                            select#campaignid.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(name="campaignid")
                                option(value="") Seleccione 
                                each campaign in campaignid
                                    option(value=campaign.id  selected= datos ? datos.campaignid == campaign.id ? true:false:null)= campaign.nombre   
                                    
                    h3.text-lg.leading-6.font-medium.text-gray-900 INFORMACIÓN DEL ACOMPAÑANTE
                    p.text-gray-600 Añade Información Sobre El Acompañante   (si no es el caso poner N/A)

                    div(class="md:flex md:gap-4 space-y-5 md:space-y-5")

                        div(class="md:w-1/3")
                            label.block.text-sm.uppercase.text-black.mb-2.fond-bold(for="companion") Nombre completo del acompañante responsable o familiar
                            input#companion.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Nombre del Acompañante" type="text" name="companion" value= datos ? datos.numpaciente : '')
                               

                        div(class="md:w-1/3")
                            label.block.text-sm.uppercase.text-black.mb-2.fond-bold(for="parentescoid") Parentesco
                            select#parentescoid.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(name="parentescoid")
                                option(value="") Seleccione 
                                each parentesco in parentescoid
                                    option(value=parentesco.id  selected= datos ? datos.parentescoid == parentesco.id ? true:false:null)= parentesco.nombre  

                        div(class="md:w-1/3")
                            label.block.text-sm.uppercase.text-black.mb-2.fond-bold(for="telcompanion") Telefono
                            input#telcompanion.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Telefono" type="text" name="telcompanion" value= datos ? datos.telcompanion : '')
                    h3.text-lg.leading-6.font-medium.text-gray-900 INFORMACIÓN REQUERIDA PARA LA FUNDACIÓN
                    p.text-gray-600 
                    div(class="md:flex md:gap-4 space-y-5 md:space-y-0")
                        div(class="md:w-1/1")
                            label.block.text-sm.uppercase.text-black.mb-2.fond-bold(for="mediosid") ¿A TRAVÉS DE QUE MEDIO SE ENTERO DE LA CAMPAÑA?
                            select#mediosid.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(name="mediosid")
                                option(value="") Seleccione 
                                each medio in mediosid
                                    option(value=medio.id  selected= datos ? datos.mediosid == medio.id ? true:false:null)= medio.nombre  
                        div(class="md:w-1/2")
                            label.block.text-sm.uppercase.text-black.mb-2.fond-bold(for="canaldereferencia") Canal de Referencia (En caso de ser Referido)
                            input#canaldereferencia.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-400(placeholder="Canal de referencia" type="text" name="canaldereferencia" value= datos ? datos.canaldereferencia : '')
                 


                    div.border-gray-200.border-t.py-5.space-y-5                   
                        h3.text-lg.leading-6.font-medium.text-gray-900 UBICACIÓN
                        p.text-gray-600 Ubica el Domicilio del Paciente en el Mapa (mueve el inidcador azul)     
                        #mapa.h-96                    

                        div 
                            p.calle= datos ? datos.calle: ''

                        input(type="hidden" name="calle" id="calle" value= datos ? datos.calle: '')     
                        input(type="hidden" name="lat" id="lat" value= datos ? datos.lat: '')    
                        input(type="hidden" name="lng" id="lng" value= datos ? datos.lng: '') 
                            

                    input(class="w-full py-3 bg-verde-pantone hover:bg-indigos-700 rounded text-white font-bold uppercase cursor-pointer" type="submit" value="Guardar")

block scripts
    script(src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js")
    script(src="https://unpkg.com/esri-leaflet@3.0.8/dist/esri-leaflet.js")
    script(src="https://unpkg.com/esri-leaflet-geocoder@2.2.13/dist/esri-leaflet-geocoder.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-geosearch/2.7.0/bundle.min.js")
    script(src="/js/mapa.js")                                                             